{% if tasks |length >= 1 %}
<table>
        <tr>
            <th>Tarea</th>
            <th>Prioridad</th>
            <th>Horas Presupuestadas</th>
            <th>Acciones</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>
            {% if task.priority == 'high' %}
                {{ 'Alta' }}
            {% endif %}
            {% if task.priority == 'medium' %}
                {{ 'Medium' }}
            {% endif %}
            {% if task.priority == 'low' %}
                {{ 'Baja' }}
            {% endif %}
            </td>
            <td>{{ task.hours }}</td>
            <td  class="buttons">
                <a class="btn-view" href="{{ path('taskDetail', {'id':task.id} ) }}" /> Ver </a>
                <a  class="btn-edit" href="" /> Editar </a>
                <a  class="btn-delete" href="" /> Eliminar </a>
            </td>
        </tr>
        {% endfor %}
    </table>

{% else %}
<strong>No existen tareas</strong>

{% endif %}